.place__image {
    max-width: 460px;
    max-height: 460px;
    padding-bottom: 22px;
  }
  
  @media (max-width: 1024px) {
    .place__image {
      max-width: 440px;
      max-height: 440px;
    }
  }
  
  @media (max-width: 800px) {
    .place__image {
      max-width: 340px;
      max-height: 340px;
    }
  }
  
  @media (max-width: 627px) {
    .place__image {
      max-width: 320px;
      max-height: 320px;
    }
  }