.lead__title {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 96px;
    line-height: 99px;
    text-align: center;
    margin: 9px auto 19px;
    max-width: 720px;
  }
  
  @media (max-width: 700px) {
    .lead__title {
      font-size: 71px;
      line-height: 60px;
    }
  }
  
  @media (max-width: 500px) {
    .lead__title {
      font-size: 45px;
      line-height: 45px;
    }
  }
  
  @media (max-width: 320px) {
    .lead__title {
      font-size: 40px;
      line-height: 43px;
      margin: 4px auto 0;
      max-width: 288px;
    }
  }