.footer__links {
    list-style: none;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 18px;
    margin: 0;
    padding: 0;
  }
  
  @media (max-width: 725px) {
    .footer__links {
      display: -ms-grid;
      display: grid;
      grid-auto-flow: row;
      grid-gap: 32px;
      list-style: none;
      padding: 0;
    }
  }
  