@import url(/blocks/cover/__link/cover__link.css);
@import url(/blocks/cover/__subtitle/cover__subtitle.css);
@import url(/blocks/cover/__title/cover__title.css);

.cover {
    max-width: 1184px;
    margin: 5px auto 0;
  }
  
  @media (max-width: 500px) {
    .cover {
      padding-top: 64px;
    }
  }