.intro__title {
    font-size: 55px;
    line-height: 60px;
    margin: auto;
  }
   
  
  @media (max-width: 500px) {
    .intro__title {
      width: 248px;
      margin: 0;
    }
  }
  
  @media (max-width: 320px) {
    .intro__title {
      font-size: 32px;
      line-height: 35px;
    }
  }